@font-face {
    font-family: PlayfairDisplay;
    src: url("/PlayfairDisplaySC-Regular.ttf");
}

.mushroom-navbar-logo {
    width: 40px;
    height: 40px;
}

.bg-lightgray {
    background-color: rgb(249, 250, 225) !important;
}

.mushroom-card {
    border-radius: 9px;
    border: rgb(54, 40, 12) solid 2px;
    background-image: url("/images/resources/back.png");
    width: fit-content;
    justify-self: center;
    padding: 16px;
    margin-bottom: 16px;
    font-family: "PlayfairDisplay";
    color: rgb(54, 40, 12);
    padding: 16px;
}

.mushroom-card .mushroom-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.mushroom-card .mushroom-sub-line {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.mushroom-card .mushroom-thumbnail {
    border: 2px solid rgba(54, 40, 12, 0.8);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 12px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    padding: initial;
    justify-content: center;
}