/* TODO This padding is needed to avoid overlap between the navbar and the content.
   Find a better way to handle this. */
body {
    padding-top: 70px;
}

.mushroom-navbar-logo {
    width: 40px;
    height:40px;
}

.bg-lightgray {
    background-color: rgb(249, 250, 225) !important;
}

.rounded-extralg{
    border-radius:.5rem !important
}
